<h1>投稿一覧</h1>

<%= link_to "新規投稿", new_post_path, class: "postlist"%>

<% @posts.each do |post|%>
<div class="post">
 <div class='post-img-content'>
  <%= image_tag post.image, class: "post-img" if post.image.attached? %>
 <div class="origin"> コーヒ原産国</div>
 
   <div class="post-genre">
    <%= post.genre.name %>
   </div>
  苦味
   <div class="post-bitterness">
    <%= post.bitterness.name %>
   </div>
  香り
   <div class="post-aroma">
    <%= post.aroma.name %>
   </div> 
  評価
   <div class="post-rate">
    <%= post.rate.name %>
   </div> 
  </div>
  </div>
 <%end%>
</div>