<%= form_with model: @post, local: true do |f| %>
<div class="post-box">
  <div class="post-explain">新規投稿</div>
  <div class="click-upload">
   

   <%= f.file_field :image, id:"post-image" %> 
  </div>
  <div class="post-origin">コーヒ原産国</div>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: "genre-select"})%>
  苦味
  <%= f.collection_select(:bitterness_id, Bitterness.all, :id, :name, {}, {class: "bitterness-select"})%>
  香り
  <%= f.collection_select(:aroma_id, Aroma.all, :id, :name, {}, {class: "aroma-select"})%>
  評価
  <%= f.collection_select(:rate_id, Rate.all, :id, :name, {}, {class: "rate-select"})%>
  コメント
  <%= f.text_area :text, class: "text", placeholder: "コメント"%>
  <%= f.submit "投稿する" ,class:"btn" %>
 </div>
 <% end %>
